extends ./admin.jade
block content
	#updatePassword
		h1 Change Password
		div.error.dnone
		table
			tr
				td 
					span Current Password
				td
					input#currentPass(type="password")
			tr
				td 
					span New Password
				td
					input#newPass(type="password")
			tr
				td 
					span Confirm Password
				td
					input#confirmPass(type="password")
		span.button.solid(onclick="pages.updatePassword.save()") Save
block scripts
	script pages.updatePassword.init();